@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.snap {
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scroll-behavior: smooth
}
.snap::-webkit-scrollbar {
  display: none;
}

.snap > div {
  scroll-snap-align: center;
}
.masonry-grid {
	display: flex;
}

.masonry-grid-col {
	flex: 1;
	padding: 0 .1em;
}


.masonry-grid-col--2, .masonry-grid-col--3 {
  display: none;
}

.masonry-img {
  margin-bottom: .1em;
}

@media (min-width: 760px) {
  .masonry-grid-col--2 {
    display: block;
  }

  .masonry-grid-col {
    padding: 0 .5em;
  }

  .masonry-img {
    margin-bottom: .8em;
  }
}

@media (min-width: 1080px) {
	.masonry-grid-col--3 {
		display: block;
	}
}